<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/chenasraf/OpenUpdater/master/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>iaRqKQOfFwXhYrUFzbFYdyJEIh1kqn6D2Sny/bnoOdg=</string>
</dict>
</plist>
